<!DOCTYPE html>

<html>
    <header></header>
    <title></title>
    <body>

        <div main-content>

            {{>header}}

            {{message}}

        </div>
        
        {{>footer}}
    </body>
</html>